.s1 {
  background: linear-gradient( 180deg, #D7FF60 0%, #fff 100% );
  padding-bottom: 0px;
}

.s1-file {
  position: relative;
  margin: 35px auto 0 auto;
  max-width: 600px;
  line-height: 1.5;
  padding: 15px 30px;
  border-radius: 8px;
  background: linear-gradient( 180deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 0% );
}

.s2-h1 {
  padding-bottom: 1rem;
}
